/* //introduction page CSS
//Card from Bootstrap and used the Quartz model from bootwatch */
.navbar-brand {
  font-size: 2rem;
}

.logo {
  width: 70px;
  height: auto;
  padding-top: 0%;
  padding-left: 1%;
}

.buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.buttons a {
  margin: 5px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
}

/* This is the CSS for the ring part */
.reponse {
  height: 400px;
}

img {
  margin: 15px;
}

.question {
  margin: 0;
  padding: 0;
}
#imgReponse {
  width: 250px;
  height: auto;
  padding-top: 0%;
  border-radius: 40px;
}
#divImgReponse {
  display: flex;
  justify-content: center;
}
/* This part is still uncheck */

#title {
  background-color: white;
}

h1 {
  font-family: Montserrat-black;
  size: 3rem;
  line-height: 1.5;
  color: black;
}

span {
  font-size: 2rem;
  padding-bottom: 2%;
}

.afterRedButton {
  color: red;
}

.Top {
  font-family: fantasy;
  font-size: 3rem;
}

#question {
  font-size: 2rem;
}
.menu {
  padding-bottom: 2%;
}
#liste {
  text-align: center;
}
.blue-arrow {
  color: blue;
}
.pink-arrow {
  color: pink;
}
#arrow {
  font-size: 1rem;
  padding: 3%;
}
