#title {
  background-color: white;
}

h1 {
  font-family: Montserrat-black;
  size: 3rem;
  line-height: 1.5;
  color: black;
}
img{
  padding-top: 20%;
}
span{
  font-size: 2rem;
  padding-bottom:  2%;
}

.afterRedButton {
  color: red;
}

#imgReponse {
  width: 150px;
  height: auto;
  padding-top:0%;
  padding-bottom: 2%;
}
.Top{
  font-family: fantasy;
  font-size: 3rem;
}
.logo{
  width: 70px;
  height:auto;
  padding-top: 0%;
  padding-left: 1%;
}
#question{
  font-size: 2rem;
}
.menu{
  padding-bottom: 2%;
}
#liste{
  text-align:center;

}
.blue-arrow{
  color:blue;
}
.pink-arrow{
  color:pink;
}
#arrow{
  font-size: 1rem;
  padding: 3%;

}
